
            <div class="news_con">
              <a  [routerLink]="['/content', item.categorySlug[0], item.titleSlug]" *ngFor="let item of trendingNews">
                <div class="news_card">
                   <img [src]="item.thumbnail" alt="" />
                   <div class="news-content">
                    <div class="source">
                      <span>Skymet News</span>
                      <p class="badge">News</p>
                    </div>
                    <div class="title">
                      <p>
                      {{item.title}}
                      </p>
                    </div>
                    <div class="date_share">
                      <span> {{dataService.formatDateTrending(item.DateTime)}}</span>
                      <img alt="Share on WhatsApp"
                        src="https://skymetweather.com/img/whatapp.png"
                        width="16"
                      />
                    </div>
                  </div>
                </div>
              </a>

              <div class="btn" routerLink="/news-list/climate-change">
                <button>View More</button>
              </div>
            </div>
