    <div class="footer">
      <div class="container">
        
        <div class="footer_content">
          <div class="footer_info">
          <div class="logo">
            <img src="./img/footer_logo.png" alt="">
          </div>
          <h5>Reach your Audience</h5>
          <a href="#">
            
            <div class="contant">
              <div class="mail">
  
                <img src="./img/mail.svg" alt="">
                <p>{{adsEmail}}</p>
              </div>
              <img src="./img/arrow.svg" alt="">
            </div>
          </a>
          <h5>Business Queries</h5>
          <a href="#">
 <div class="contant">
            <div class="mail">

              <img src="./img/call.svg" alt="">
              <p>0120 4094500</p>
            </div>
            <img src="./img/arrow.svg" alt="">
          </div>
          </a>
         
          <a href="#">
            
            <div class="contant">
              <div class="mail">
  
                <img src="./img/mail.svg" alt="">
                <p>{{adsEmail}}</p>
              </div>
              <img src="./img/arrow.svg" alt="">
            </div>
          </a>
          <div class="social">
            <a href="#">
              <img src="./img/music_1.svg" alt="">
            </a>
<a href="#"> <img src="./img/spoti.svg" alt=""></a>
<a href="#"><img src="./img/jiosawan.svg" alt=""></a>
<a href="#"><img src="./img/amzome.svg" alt=""></a>
<a href="#"><img src="./img/youtube.svg" alt=""></a>
<a href="#"><img src="./img/in.svg" alt=""></a>
<a href="#"><img src="./img/fb.svg" alt=""></a>

           

          </div>

        </div>
          <div class="heading_1">
            <h5>Browse by State</h5>
            <div class="states">

            <ul>
                <li><a routerLink="state-weather/Andhra Pradesh">Andhra Pradesh</a></li>
                <li><a routerLink="state-weather/Gujarat">Gujarat</a></li>
                <li><a routerLink="state-weather/Bihar">Bihar</a></li>
                <li><a routerLink="state-weather/Jharkhand">Jharkhand</a></li>
                <li><a routerLink="state-weather/Madhya Pradesh">Madhya Pradesh</a></li>
                <li><a routerLink="state-weather/Meghalaya">Meghalaya</a></li>
                <li><a routerLink="state-weather/Odisha">Odisha</a></li>
                <li><a routerLink="state-weather/Sikkim">Sikkim</a></li>
                <li><a routerLink="state-weather/Tripura">Tripura</a></li>
                <li><a routerLink="state-weather/West Bengal">West Bengal</a></li>
              </ul>
              <ul>
                <li><a routerLink="state-weather/Arunachal Pradesh">Arunachal Pradesh</a></li>
                <li><a routerLink="state-weather/Chhattisgarh">Chhattisgarh</a></li>
                <li><a routerLink="state-weather/Haryana">Haryana</a></li>
                <li><a routerLink="state-weather/Karnataka">Karnataka</a></li>
                <li><a routerLink="state-weather/Maharashtra">Maharashtra</a></li>
                <li><a routerLink="state-weather/Mizoram">Mizoram</a></li>
                <li><a routerLink="state-weather/Punjab">Punjab</a></li>
                <li><a routerLink="state-weather/Tamil Nadu">Tamil Nadu</a></li>
                <li><a routerLink="state-weather/Uttar Pradesh">Uttar Pradesh</a></li>
              </ul>
              <ul>
                <li><a routerLink="state-weather/Assam">Assam</a></li>
                <li><a routerLink="state-weather/Goa">Goa</a></li>
                <li><a routerLink="state-weather/Himachal Pradesh">Himachal Pradesh</a></li>
                <li><a routerLink="state-weather/Kerala">Kerala</a></li>
                <li><a routerLink="state-weather/Manipur">Manipur</a></li>
                <li><a routerLink="state-weather/Nagaland">Nagaland</a></li>
                <li><a routerLink="state-weather/Rajasthan">Rajasthan</a></li>
                <li><a routerLink="state-weather/Telangana">Telangana</a></li>
                <li><a routerLink="state-weather/Uttarakhand">Uttarakhand</a></li>
              </ul>

            </div>
          </div>
          <div class="heading_2">
            <h5>Popular Locations</h5>
            <div class="states">

              <ul>
                <li><a routerLink="forecast/weather/india/maharashtra/mumbai suburban/mumbai">Mumbai</a></li>
                <li><a routerLink="forecast/weather/india/karnataka/bangalore urban/bangalore">Bengaluru</a></li>
                <li><a routerLink="forecast/weather/india/tamil-nadu/chennai">Chennai</a></li>
                <li><a routerLink="forecast/weather/india/maharashtra/pune">Pune</a></li>
                <li><a routerLink="forecast/weather/india/rajasthan/jaipur">Jaipur</a></li>
                <li><a routerLink="forecast/weather/india/uttar-pradesh/kanpur">Kanpur</a></li>
                <li><a href="#">Indore</a></li>
                <li><a href="#">Patna</a></li>
                <li><a href="#">Agra</a></li>
                <li><a href="#">Kochi</a></li>
              </ul>
              <ul>
                <li><a routerLink="forecast/weather/india/delhi/central delhi/new delhi">Delhi</a></li>
                <li><a href="#">Hyderabad</a></li>
                <li><a href="#">Kolkata</a></li>
                <li><a href="#">Ahmedabad</a></li>
                <li><a href="#">Lucknow</a></li>
                <li><a href="#">Nagpur</a></li>
                <li><a href="#">Bhopal</a></li>
                <li><a href="#">Surat</a></li>
                <li><a href="#">Coimbatore</a></li>
                <li><a href="#">Vijayawada</a></li>
              </ul>
            
              
            </div>
          </div>

          <!-- <div class="footer_contact">
            <div class="contact">
              <h6>Connect with us</h6>
              <div class="social_icon">
                <img src="./img/facebook.png" alt="" />
                <img src="./img/twiter.png" alt="" />
                <img src="./img/youtube.png" alt="" />
                <img src="./img/insta.png" alt="" />
              </div>
              <h6>Download the app</h6>
              <div class="download">
                <img src="./img/google.png" alt="" />
                <img src="./img/apple.png" alt="" />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Lower Footer -->
    <div>
      <div class="border_line">
        <div class="container">
          <div class="lower_footer">
            <div class="rule">
              <a href="#"><span>Terms & Conditions</span></a>
              <a href="#"><span>Privacy Policy</span></a>
              <a href="#"><span>About Us</span></a>
              <a href="#"><span>Sitemap</span></a>
              <a href="#"><span>FAQs</span></a>
              
             
            </div>
            <span
              >© 2024 Skymet. All rights reserved.</span>
          </div>
        </div>
      </div>
    </div>