// .navmenu ul a {
//   color: #fff;
// }


// .Header {
//   &.navActive {
//     .navmenu ul a {
//       color: #000;
//     }
//   }
// }

.black{
  color: black;
}
.white{
  color: white;
}

.active {
  color:#64C2FF !important
}
