<div class="Header" id="Header">
  <div class="container_2">
    <div class="header_content">
      <div class="tog_log">
        <div class="toggle_icon" (click)="toggleSidebar()">
          <div class="toggle" id="hamburgerBtn" [ngClass]="getToggalClass() ? 'hide':'show'">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- <div class="div" [ngClass]="deviceType() =='desktop'?'hide':'show'">
          <div class="cross-button"  id="crossBtn" (click)="toggleSidebar()" [ngClass]="getToggalClass() ? 'show':'hide'">
            <span></span>
            <span></span>
          </div>
        </div> -->
        <div class="logo" (click)="pathName='home';" [ngClass]="pathName=='home'? 'active':''"
                  [routerLink]="['/']">
          <!-- <img [src]="getComponentFromRoute()=='home' ? './img/logo.gif' : './img/logo.png'" alt="" /> -->
          <img [src]="getLogo()" alt="" />

        </div>
      </div>
      <div class="search_Nav">
        <form [formGroup]="searchForm" *ngIf="!isResourcesPage">
          <div class="search" id="searchBox">
            <div class="lanc">
              <img src="./img/Vector.svg" alt="" />
            </div>
            <input type="text" placeholder="{{'Search City' | translate}}..." (input)="onSearch($event)" formControlName="searchCtrl" />
            <div class="mic">
              <img src="./img/mic.png" alt="" (click)="startListening()" />
            </div>

            <div class="listing" *ngIf="locations" #locationList>
              <div class="list">
                <p *ngFor="let item of locations" (click)="getLocation(item)">
                  {{ item["name_en"].split(",")[0] =='' ? item["name_en"].split(",").slice(1,4).join(",") :
                  item["name_en"]}}
                </p>
              </div>
            </div>
          </div>
        </form>
        <div class="navmenu" id="menulink">
          <div class="side-header" *ngIf="deviceType() =='mobile'">
            <div class="menu">
              Menu
            </div>
            <div class="cross-btn">
              <div class="div" [ngClass]="deviceType() =='desktop'?'hide':'show'">
                <div class="cross-button" id="crossBtn" (click)="toggleSidebar()"
                  [ngClass]="getToggalClass() ? 'show':'hide'">
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>

          <ul>


            <!-- <div class="menu-item">
              <div class="left">
                <img src="./img/sidebar/home.png" alt="" *ngIf="deviceType() =='mobile'"/>
              <li><a (click)="pathName='home';toggleSidebar()" [ngClass]="pathName=='home'? 'active':''"
                  [routerLink]="['/']">{{ "Home" | translate }}</a></li>
              </div>
              <i class="fas fa-chevron-right arrow" [ngClass]="deviceType() =='desktop'?'hide':'show'"></i>
            </div> -->

            <div class="menu-item" (click)="toggleSidebar()" [routerLink]="['/15-days-rainfall-forecast-for-india']">
                <div class="left">
                  <img src="./img/sidebar/forecastmap.png" alt="" *ngIf="deviceType() =='mobile'"/>
                 <li ><a   [ngClass]="getComponentFromRoute() =='forecastmap'? 'active':''"
                  >{{"Forecast Map" | translate}}</a></li>
                </div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>

            <div class="menu-item" (click)="toggleSidebar()"  [routerLink]="['/resources']">
              <div class="left">  
               <img src="./img/sidebar/resources.png" alt="" *ngIf="deviceType() =='mobile'"/>
              <li><a  [ngClass]="getComponentFromRoute() =='resources'? 'active':''"
                 >{{"Resources" | translate}}</a></li></div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>


            <div class="menu-item"  (click)="toggleSidebar()" [routerLink]="['/himawari-latest-satellite-images-of-india']">
              <div class="left">
             <img src="./img/sidebar/satellite.png" alt="" *ngIf="deviceType() =='mobile'"/>
              <li><a  [ngClass]="getComponentFromRoute() =='satellite'? 'active':''"
                 >{{"Satellite" | translate}}</a></li>
              </div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>
           <div class="menu-item" (click)="toggleSidebar()" [routerLink]="['/map']">
              <div class="left">
             <img src="./img/sidebar/forecastmap.png" alt="" *ngIf="deviceType() =='mobile'"/>
              <li><a  [ngClass]="getComponentFromRoute()=='map'? 'active':''"
                  >Live Map</a></li>
              </div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>

            <div class="menu-item" [routerLink]="['/advertise-with-us']" (click)="toggleSidebar()">
              <div class="left">
               <img src="./img/sidebar/aboutus.png" alt="" *ngIf="deviceType() =='mobile'"/>
              <li><a  [ngClass]="getComponentFromRoute()=='advertise'? 'active':''">{{"Advertise with us" | translate}}</a></li>
              </div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>

            <div class="menu-item" [routerLink]="['/contact-us']" (click)="toggleSidebar()" >
              <div class="left">
               <img src="./img/sidebar/aboutus.png" alt=""*ngIf="deviceType() =='mobile'"/>
              <li><a [ngClass]="getComponentFromRoute()=='contact'? 'active':''" 
                >{{"Contact Us" | translate}}</a></li>
              </div>
              <i class="fas fa-chevron-right arrow" *ngIf="deviceType() =='mobile'"></i>
            </div>

              <li>
              <select (change)="onLanguagesChange($event)">
                <option name="English" value="en">English</option>
                <option name="Hindi" value="hi">Hindi</option>
                <option name="Marathi" value="mr">Marathi</option>
              </select>
            </li>

             <div class="connect-section"  *ngIf="deviceType() =='mobile'">
                <p>Connect with us</p>
                <div class="social-icons">
                  <a target="_blank" href="https://podcasts.apple.com/in/podcast/skymet-podcast/id1772264634">
                  <i class="fab fa-itunes apple"></i>
                  </a>
                 <a target="_blank" href="https://open.spotify.com/show/49takv1rC7dyQmEp4IMRYA?si=80a2e90b3c47402b&nd=1&dlsi=70985fad844a4092 ">
                  <i class="fab fa-spotify spotify"></i>
                  </a>
                <a target="_blank" href="https://www.jiosaavn.com/shows/skymet-podcast/1/NKmTKXHI3og_">
                  <img src="./img/jiosawan.svg" alt="">
                </a>
                <a target="_blank" href="https://music.amazon.in/podcasts/c771657b-bca0-4b97-b2b2-eef28198af75/skymet-podcast?ref=dm_sh_7ZXAixvmbAescbdEiPaE5oebe ">
                <i class="fab fa-amazon amazon"></i>
                </a>
                <a target="_blank" href="https://music.youtube.com/watch?v=LSOyCMLWqU8">
                   <i class="fab fa-youtube youtube"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/skymet-weather-services/">
                 <i class="fab fa-linkedin linkedin"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/SkymetWeatherServices">
                  <i class="fab fa-facebook facebook"></i>
                </a>
                 
              
                  
                
                  
                 
                </div>
    </div>


            <!-- <li><a (click)="pathName='home';toggleSidebar()" [ngClass]="pathName=='home'? 'active':''"
                [routerLink]="['/']">{{ "Home" | translate }}</a></li>
            <li><a (click)="pathName='forecastmap';toggleSidebar()" [ngClass]="pathName=='forecastmap'? 'active':''"
                [routerLink]="['/forecast-map']">Forecast Map</a></li>
            <li><a (click)="pathName='resources';toggleSidebar()" [ngClass]="pathName=='resources'? 'active':''"
                [routerLink]="['/resources']">Resources</a></li>
            <li><a (click)="pathName='satellite';toggleSidebar()" [ngClass]="pathName=='satellite'? 'active':''"
                [routerLink]="['/himawari-latest-satellite-images-of-india']">Satellite</a></li>
            <li><a [routerLink]="['/advertise-with-us']">Advertise with us</a></li>
            <li><a href="">Contact Us</a></li> -->
            <!-- <li>
              <select (change)="onLanguagesChange($event)">
                <option name="English" value="en">English</option>
                <option name="Hindi" value="hi">Hindi</option>
                <option name="Marathi" value="mr">Marathi</option>
              </select>
            </li> -->
          </ul>
        </div>


      </div>
      <div class="lanc_only" (click)="toggleSearch()">
        <div id="search_icon">
          <img src="./img/Vector.svg" alt="" />
        </div>
        <div id="close">
          X
        </div>
      </div>
    </div>
  </div>
</div>