<div class="Skysense">
  <div class="container">
    <div class="content">
      <h5>Skysense by Skymet</h5>
      <div class="flex_box">
        <div class="cards">
          <h6> <img src="./img/Dew.svg" alt=""> Dew point</h6>
          <div class="Dew_point">
            <!-- <img src="./img/Dew_point.svg" alt=""> -->
            <app-dewpoint [dewPointPercent]="70"></app-dewpoint>
            <h2>24 °C</h2>
          </div>
        </div>
        <div class="cards">
          <h6> <img src="./img/uv.svg" alt=""> UV Index</h6>
          <div class="Index">
            <h2>8</h2>
            <span>Very High</span>
            <!-- <img src="./img/Index.png" alt=""> -->
              <app-uv-rays [uvIndex]="8" [maxUV]="11" [range]="uvRange"></app-uv-rays>
          </div>
        </div>
        <div class="cards">
          <h6> <img src="./img/sunset_icon.svg" alt=""> Sunrise/sunset</h6>
          <div class="sunset">
            <!-- <img src="./img/sunset.svg" alt=""> -->
             <app-sunrise [angle]="calculateAngle()"></app-sunrise>
            <div class="sunset_time">
              <div>
                <p>Sunrise</p>
                <span>6:10 am</span>
              </div>
              <div>
                <p>Now</p>
                <span>{{getCurrentTime()}} pm</span>
              </div>
              <div>
                <p>Sunset</p>
                <span>6:10 am</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cards">
          <h6> <img src="./img/air_icon.svg" alt=""> Air quality index</h6>
          <div class="Air_quality ">
            
            <app-uv-rays [uvIndex]="160" [maxUV]="500" [range]="aqiRange"></app-uv-rays>

          </div>
        </div>
      </div>

      <div class="moonads">


        <div class="moon_info">
          <div class="content">
            <h6> <img src="./img/moon_icon.svg" alt=""> Moon</h6>
            <div class="moon_states_time">
              <p>Moonrise</p>
              <span>6:34 PM</span>
            </div>
            <div class="moon_states_time">
              <p>Moonset</p>
              <span>4:52 AM</span>
            </div>
            <div class="moon_states_time">
              <p>Current state</p>
              <span>Waning crescent</span>
            </div>
            <div class="moon_states_time">
              <p>Next full moon</p>
              <span>21 days</span>
            </div>
          </div>
          <img src="./img/moon.svg" alt="">

        </div>

        <div class="Advertisement">
          <h5>Advertisement</h5>
        </div>

      </div>

    </div>
  </div>
</div>