.uv-header {
  display: flex;
  // justify-content: space-evenly;
  justify-content: space-between;

  .uvvalue {
    text-align: start;

    h6 {
      font-weight: 900;
      color: #771c23;
    }
  }

  .uvtext {
    // width: 41px;
    // height: 13px;
    width: 100%;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .right img {
    height: 32px;
  }
}

.Skysense {
  .content .flex_box .cards .Dew_point img {
    width: 100px;

    @media (max-width: 550px) {
      width: 55px;
    }
  }
  .content .flex_box .cards .Dew_point .content h2 {
    color: #771c23;

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }
  .content .flex_box .cards .Dew_point .content p {
    font-size: 12px;

    @media (max-width: 550px) {
      font-size: 11px;
    }
  }

  .content .flex_box .cards {
    &:nth-child(2) {
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .image {
        img {
          width: 100px;
        }
        @media (max-width: 550px) {
          img {
            width: 70px;
          }
        }
      }

      @media (max-width: 550px) {
        padding-bottom: 35px;
      }
    }
    &:nth-child(4) {
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .image {
        img {
          width: 100px;
        }
        @media (max-width: 550px) {
          img {
            width: 70px;
          }
        }
      }
        @media (max-width: 550px) {
        padding-bottom: 35px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
 .moon{
  width: 100% !important;
 }
 .Skysense .content .flex_box .cards{
  justify-content: space-around !important;
 }
}

.moon {
    width: 50%;
    padding: 30px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.0784313725);

     h6{
          display: flex;
    gap: 10px;
    font-weight: 800;
    margin-bottom: 20px;
    img{
      width: 20px;
    }
  
    }
    .moon-wrapper{
      display: flex;
      gap: 44px;
      align-items: center;
.content{
      width: 67%;
     width: 67%;
    display: flex
;
    flex-flow: column;
    gap: 12px;
        .moon_states_time{
    width: 100%;
    display: flex;
    justify-content: space-between;
          span{
            font-weight: 700;
            font-size: 14px;
          }
    }
 
    }
    .moon-img{
      width: 33%;
   img{
      width: 110px;
    }
    }
    
    }

    
}

.Skysense .content .moonads .Advertisement {
  width: 100% !important;
}
