    .uv-header {
          display: flex;
          // justify-content: space-evenly;
          justify-content: space-between;

          .uvvalue {
            text-align: start;

            h6 {
              font-weight: 900;
              color: #771c23;
            }
          }

          .uvtext {
            // width: 41px;
            // height: 13px;
            width: 100%;
            font-size: 10px;
            line-height: 130%;
            letter-spacing: 0%;
          }

          .right img {
            height: 32px;
          }
        }