<div class="sun-container" #container>
  <svg viewBox="0 0 200 120">
    <defs>
      <linearGradient id="sunGradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" stop-color="#FFE475" />
        <stop offset="50%" stop-color="rgba(255, 228, 117, 0)" />
      </linearGradient>
    </defs>

    <path d="M 20 100 A 80 80 0 0 1 180 100 L 180 100 L 20 100 Z"
          fill="url(#sunGradient)" stroke="orange" stroke-width="0.6"/>

    <line #tickLine x1="100" y1="100" x2="100" y2="20" class="tick-line" />
  </svg>

  <img #sunIcon src="./img/sun_tiny.png" class="sun-icon" />
</div>
