<div class="forCastMap">
  <div class="container">
    <div class="tabs">
      <button class="tab" [ngClass]="selectedTab=='rainfall'?'active':''"
        (click)="onTabChange('rainfall','Rainfall_','Rain')">Rainfall</button>
      <button class="tab" [ngClass]="selectedTab=='temperature'?'active':''"
        (click)="onTabChange('temperature','daily_temp_india_','Temp')">Temperature</button>
      <button class="tab" [ngClass]="selectedTab=='winds'?'active':''"
        (click)="onTabChange('winds','frame_','Wind')">Wind
        speed</button>
    </div>

    <div class="textContent" *ngIf="dataService.getDeviceType() == 'mobile'">

      <div class="textMain">
        Showing result from <span>{{dateRange[0] && this.dateRange[0]}} 2025</span> -
        <span>{{this.dateRange[1] && this.dateRange[1]}} 2025</span>
      </div>
    </div>

    <div class="mainMap">
      <div class="topbuttons">
        <div class="cards">
          <div class="buttons">
            <button id="swiper_btn" class="button" [ngClass]="viewType === 'swiper' ? 'active' : ''"
              (click)="viewType='swiper';refreshTab()">
              <img src="/img/map.svg" alt="" />
            </button>
            <button class="button" [ngClass]="viewType === 'list' ? 'active' : ''"
              (click)="viewType='list';refreshTab()">
              <img src="/img/menu4.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="textContent" *ngIf="dataService.getDeviceType() == 'desktop'">

          <div class="textMain">
            Showing result from <span>{{dateRange[0] && this.dateRange[0]}} 2025</span> -
            <span>{{this.dateRange[1] && this.dateRange[1]}} 2025</span>
          </div>
        </div>
        <!-- <div class="contentCenter">
          <p>12 August 2024</p>
        </div> -->

        <div class="cards thirdButtonGroup">
          <!-- <div class="buttons singleButton" *ngIf="dataService.getDeviceType() == 'mobile' || viewType === 'list'">
            <button class="button" (click)="openFullscreen()">
              <img src="/img/expend.svg" alt="" />
            </button>
          </div> -->
          <div class="buttons singleButton" *ngIf="dataService.getDeviceType() == 'mobile' || viewType === 'list'">
            <button class="button" (click)="viewType=='swiper'? whatsappImageShare() : shareUrl()">
              <img src="/img/whatsapp.svg" alt="" />
            </button>
          </div>
          <div class="buttons multiButton" *ngIf="dataService.getDeviceType() == 'mobile' && viewType=='swiper'">
            <button class="button" (click)="zoomOut()">
              <img src="/img/minus.svg" alt="" />
            </button>
            <button class="button" (click)="zoomIn()">
              <img src="/img/plus.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="bottomIndector">
        <div class="text">
          <p>No rain</p>
          <p>Light</p>
          <p>Moderate</p>
          <p>Heavy</p>
        </div>
        <div class="color">
          <div class="co"></div>
          <div class="co"></div>
          <div class="co"></div>
          <div class="co"></div>
          <div class="co"></div>
          <div class="co"></div>
          <div class="co"></div>
        </div>
        <div class="range">
          <p>0</p>
          <p>5</p>
          <p>10</p>
          <p>20</p>
          <p>30</p>
          <p>45</p>
          <p>50</p>
        </div>
      </div> -->

      <div class="swiper-ad-container" *ngIf="viewType=='swiper'">

        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slider-item" (mouseenter)="showOverlay(i)" (mouseleave)="hideOverlay()"
              *ngFor="let item of filteredModelData; let i = index">
              <img (click)="openFullscreen(i)" [src]="item.url" [id]="'main' + i" [alt]="item.url" alt="model image"
                [ngStyle]="{
                    'object-fit': 'contain'
                  }" />
              <div class="overlay-text" *ngIf="dataService.getDeviceType() == 'desktop'"
                [ngStyle]="{ display: hoveredIndex === i ? 'block' : 'none' }">
                <div class="fullmap" (click)="openFullscreen(i)">{{'View in full screen' | translate}}</div>
                <div class="fullmap" (click)="whatsappImageShare(i)">{{'Share on Whatsapp' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next">
            <img src="/img/rightArrow.svg" alt="" />
          </div>
          <div class="swiper-button-prev">
            <img src="/img/leftArrow.svg" alt="" />
          </div>
        </div>
        <div class="ad-section" *ngIf="dataService.getDeviceType() == 'desktop'">
          <!-- <img
            src="https://static.semrush.com/blog/uploads/media/8b/06/8b063f735e2192a61c6861f4755ffc5d/what-is-digital-advertising.svg"
            alt="Ad Banner" /> -->
      <div appAdsense *ngIf="this.nativeService.getPlateform() == 'web'"
      [adClient]="'ca-pub-6993696142089445'"
      [adSlot]="'1044022650'"
      [adFormat]="'auto'"
      [fullWidthResponsive]="'true'">
      </div>
        </div>
      </div>

      <div thumbsSlider class="swiper mySwiper" *ngIf="viewType=='swiper'">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slider-thumb" [id]="'thumb' + index"
            *ngFor="let item of filteredModelData; let index = index">
            <h5>{{item.date}}</h5>
            <img [src]="item.url" alt="model image" />
          </div>
        </div>
      </div>

      <div *ngIf="viewType=='list'">
        <div class="image-grid">
          <div class="image-item" *ngFor="let item of filteredModelData;let i=index" (click)="toggleImageSelection(i);">
            <img [src]="item.url" alt="model image" />
          </div>
        </div>
      </div>




    </div>
    <div class="writable">SkySat: Forecast Maps for pan-India, powered by Skymet’s own next-gen weather model,
      engineered for India’s complex climate with customized region-specific calibration, high-res physics and
      aerosol-aware radiation modeling. Find here 15 days weather forecast images generated every day for Rain, Heat,
      Wind and Cloud cover. Redefining weather forecasts for India with precision and real-time accuracy.</div>

    <app-weather-news [weatherNewsHeaderConfig]="weatherNewsHeaderConfig"></app-weather-news>

  </div>
</div>

<!-- isFullScreen swiper -->
<div class="container" #fullscreenEl [hidden]="!isFullScreen">

  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper fullscreenSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slider-item" *ngFor="let item of filteredModelData; let i = index">
        <img [src]="item.url" [id]="'main' + i" [alt]="item.url" alt="model image" [ngStyle]="{
                    'object-fit' : 'contain',
                  }" />

      </div>
    </div>
    <div class="swiper-button-next">
    </div>
    <div class="swiper-button-prev">
    </div>
  </div>

</div>
<!-- end -->