
main {
  .bodyContent {
    background-color: white;
    padding: 12px;

    .innerContent {
      padding: 20px 10px 15px;
          margin-top: 60px;
    }
    .privacyContent {
      padding-top: 15px;

      .contentPolicy { 
        .innerBodyContent {
          padding-left: 15px;

          .title {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .subTitle {
          padding-left: 15px;
          padding-right: 15px;
          font-size: 15px;
        }
      }

      .title {
        font-size: 18px;
        font-weight: 600;
      }
      .subTitle {
        font-size: 15px;
      }
    }
  }
}
