.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1200px;
  margin: auto;
  padding: 16px;

  .breadcrumbs {
    font-size: 14px;
    color: #555;
    margin-top: 90px;
    cursor: pointer;
    font-weight: 600;
    .home {
      color: #008be7;
      font-weight: 600;
    }
    .state{
        color: gray;
        font-weight: 600;
    }
    .district {
      color: gray;
      font-weight: 600;
    }
  }

  .main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;

    .item {
      background: #d5d5e1;
      border-radius: 13px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-weight: 500;
      height: 40px;
      flex: 1 0 calc(33.33% - 12px); 
      cursor: pointer;
    }
  }

  @media screen and (min-width: 768px) {
    .main_content {
      .item {
        flex: 1 0 calc(16.66% - 12px); // 6 items in a row on desktop
      }
    }
  }
}
