svg {
  // width: 190px;
  width: 100%;
  height: auto;
}

#needle {
  transform-origin: 85px 85px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-out;
  fill: black;
}

input[type="range"] {
  width: 300px;
  margin-top: 20px;
}

.label {
  margin-top: 10px;
  font-size: 18px;
}

@media (max-width: 550px) {
  svg {
    // width: 190px;
    width: 100%;
  }
}
