<div class="farecast_page">
  <div class="container custom">
    <div class="main_content">
      <!-- <div class="breadcrumb">state>district>tehsil</div> -->
      <nav class="breadcrumb" aria-label="Breadcrumb" *ngIf="dataService.getDeviceType() == 'desktop'">
        <ol>
          <li>
            <a routerLink="/state-weather/{{metaInfo?.STATE_NAME}}" class="crumb-link">{{metaInfo?.STATE_NAME}}</a>
          </li>
          <li>
            <a routerLink="/weather/forecast/india/{{metaInfo?.STATE_NAME}}/{{metaInfo?.DISTRICT_NAME}}" class="crumb-link">{{metaInfo?.DISTRICT_NAME}}</a>
          </li>
          <li aria-current="page" class="crumb-current">{{metaInfo?.TEHSIL_ALIAS_NAME}}</li>
        </ol>
      </nav>
      <app-current-data [parentRef]="this"></app-current-data>
      <div class="cover_area">
  
        <div class="Temperature_swipee fixedTabArea">
          <div class="tittle">
            <div class="heading_flex">
              <!-- <div class="locat">
                <img src="./img/location.png" alt="" />
                <h5 class="mainTitleSection">{{metaInfo?.TEHSIL_ALIAS_NAME}},{{metaInfo?.DISTRICT_NAME }}</h5>
              </div> -->
              <div class="days">
                <p [ngClass]="selectedTab == 'hourly' ? 'active' : ''"
                  (click)="selectedTab = 'hourly';onTabChange('hourly')" id="hourly">
                  {{'Hourly' | translate}}
                </p>
                <p [ngClass]="selectedTab == '7 days' ? 'active' : ''" (click)="selectedTab = '7 days';onTabChange(7)"
                  id="7_days">
                  7 Days
                </p>
                <p [ngClass]="selectedTab == '15 days' ? 'active' : ''" id="15_days"
                  (click)="selectedTab = '15 days';onTabChange(15)">
                  15 Days
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- temp swiper -->
      <div [hidden]="selectedTab == 'hourly'">
        <div class="Weather_buddy">
          <div class="container">
            <div class="weather_box">
              <div class="header">
                <div class="tittle">
                  <img src="./img/clean.svg" alt="" />
                  <p>Weather buddy</p>
                </div>
                <div class="controls">
                  <button (click)="speak(buddy7 && buddy7)">
                    <img src="./img/play.webp" alt="">
                  </button>
                  <button (click)="pause()">
                    <img src="./img/pause.webp" alt="">
                  </button>

                </div>
              </div>
              <p [class.collapsed]="expanded">
                {{buddy7 && buddy7 }}
              </p>
              <span class="toggle-button" (click)="toggleExpand()">
                {{ expanded ? 'Show Less' : 'Show More' }}
              </span>
            </div>
          </div>
        </div>

        <div class="Temperature_swipee">
          <div class="swiper swiper_temp">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="weather-card" [ngStyle]="{ background: item.gradient }">
                  <div class="temperature-high">{{ item.temp_max }}°</div>
                  <div class="bar">
                    <div class="barInner" [ngStyle]="
                                 getTempBarHeight(item.temp_max - item.temp_min)
                                 "></div>
                  </div>
                  <div class="temperature-low">{{ item.temp_min }}°</div>
                  <div class="weather-icon">
                    <img [src]="item.iconImage" alt="Cloudy Icon" />
                  </div>
                  <div class="weather-label">{{ item.description }}</div>
                </div>
                <div class="Temperature-date">
                  {{ item.date.split(",")[1] }} &nbsp;{{
                  item.date.split(",")[2]
                  }}
                </div>
              </div>
            </div>
            <div class="swiper-button-next custom_nav"></div>
            <div class="swiper-button-prev custom_nav"></div>
          </div>
        </div>
        <!-- temp swiper end -->
        <!-- rain swiper -->
        <div class="Rain_swiper">
          <div class="tittle">
            <img src="./img/rain_fall.svg" alt="" />
            <h5 class="mainTitleSection">{{'Rainfall probability' | translate}}</h5>
          </div>
          <div class="swiper swiper_rain">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="rain-card">
                  <div class="rain-bar">
                    <span class="rain-value">{{ item.rain_prob }} %</span>
                    <div class="pers" [ngStyle]="{
                                 height: item.rain_prob == 0 ? 1 + '%' : item.rain_prob + '%'
                                 }"></div>
                  </div>
                  <div class="rain-date">
                    {{ item.date.split(",")[1] }} &nbsp;{{
                    item.date.split(",")[2]
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- rain swiper end -->
        <!-- winds swiper -->
        <div class="wind_swiper">
          <div class="tittle">
            <img src="./img/wind.svg" alt="" />
            <h5 class="mainTitleSection">{{'Wind speed' | translate}}</h5>
          </div>
          <div class="swiper swiper_wind">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="wind-card">
                  <div class="wind-speed">{{ item.wind_spd }} m/s</div>
                  <div class="wind-circle">
                    <img src="./img/wind_direction/DIRECTIONS_{{ item.wind_shrt }}.webp" alt="" />
                  </div>
                </div>
                <div class="wind-date">
                  {{ item.date.split(",")[1] }} &nbsp;{{
                  item.date.split(",")[2]
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- winds swiper end -->
        <!-- Humidity -->
        <div class="Humidity">
          <div class="tittle">
            <img src="./img/huminity.svg" alt="" />
            <h5 class="mainTitleSection">Humidity</h5>
          </div>
          <div class="swiper swiper_humidity">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="rain-card">
                  <div class="rain-bar">
                    <span class="rain-value">{{ item.rh_max }} %</span>
                    <p class="pogition">
                      {{ getColorHumid(item.rh_max).text }}
                    </p>
                    <div class="pers" [ngStyle]="{
                                 height: item.rh_max + '%',
                                 background: getColorHumid(item.rh_max).background
                                 }"></div>
                  </div>
                  <div class="rain-date">
                    {{ item.date.split(",")[1] }} &nbsp;{{
                    item.date.split(",")[2]
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Humidity end -->
        <!-- uv rays -->
        <!-- <div class="UV_rays_swiper">
               <div class="tittle">
                 <img src="./img/uv.svg" alt="" />
                 <h5 class="mainTitleSection">UV Rays</h5>
               </div>
               <div class="swiper swiper_uv">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide" *ngFor="let item of forecastData">
                     <div class="uv-card">
                       <div class="uv-header">
                         <div class="left">
                           <div class="uvvalue">
                             <h6>9</h6>
                           </div>
                           <div class="uvtext">High risk</div>
                         </div>
                         <div class="right">
               
                           <img src="./img/uv sun.svg" alt="" />
                         </div>
                       </div>
               
                       <app-uv-rays class="app-uv-rays" [uvIndex]="3" [maxUV]="11" [range]="uvRange"></app-uv-rays>
                     </div>
                     <div class="UV_rays-date">
                       {{ item.date.split(",")[1] }} &nbsp;{{
                       item.date.split(",")[2]
                       }}
                     </div>
                   </div>
                 </div>
               </div>
               </div> -->
        <!-- uv rays en end-->
        <!-- dew points swiper -->
        <!-- <div class="dew_points_swiper">
               <div class="tittle">
                 <img src="./img/Dew.svg" alt="" />
                 <h5 class="mainTitleSection">Due point</h5>
               </div>
               
               <div class="swiper swiper_dewPoint">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide" *ngFor="let item of forecastData">
                     <div class="rain-card">
                       <div class="rain-bar">
                         <span class="rain-value">{{ item.dewPoint }} %</span>
                         <div class="pers" [ngStyle]="{ height: item.dewPoint + '%' }"></div>
                       </div>
                       <div class="rain-date">
                         {{ item.date.split(",")[1] }} &nbsp;{{
                         item.date.split(",")[2]
                         }}
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               </div> -->
        <!--dew points swiper end -->
        <!-- air quality index rays -->
        <!-- <div class="Airquality_index_swiper">
               <div class="tittle">
                 <img src="./img/air_icon.svg" alt="" />
                 <h5 class="mainTitleSection">Airquality index</h5>
               </div>
               <div class="swiper swiper_aqi">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide" *ngFor="let item of forecastData">
                     <div class="uv-card">
                       <div class="uv-header">
                         <div class="left">
                           <div class="uvvalue">
                             <h6>{{ item.aqi }}</h6>
                           </div>
                           <div class="uvtext">{{ item.status }}</div>
                         </div>
                         <div class="right">
                           <img src="./img/maks.svg" alt="" />
                         </div>
                       </div>
               
                       <app-uv-rays class="app-uv-rays" [uvIndex]="160" [maxUV]="500" [range]="aqiRange"></app-uv-rays>
                     </div>
                     <div class="UV_rays-date">
                       {{ item.date.split(",")[1] }} &nbsp;{{
                       item.date.split(",")[2]
                       }}
                     </div>
                   </div>
                 </div>
               </div>
               </div> -->
        <!-- air quality index rays end -->
        <!-- sunRise  -->
        <div class="sunRise">
          <div class="tittle">
            <img src="./img/sunset_icon.svg" alt="" />
            <h5 class="mainTitleSection">{{'Sunrise' | translate}}/{{'Sunset' | translate}}</h5>
          </div>
          <div class="swiper swiper_sunrise">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="sunRise_container">
                  <div class="time-label top">
                    <span class="sunrise">{{ item.sunrise }}</span><span
                      class="am">{{dataService.convertToAmPm(item.sunrise)}}</span>
                  </div>
                  <img class="curve" src="./img/sunrise_graph.svg" alt="" />
                  <!-- <svg class="curve" viewBox="0 0 100 50" preserveAspectRatio="none">
                              <path d="M0,50 C25,0 75,0 100,50" />
                              </svg> -->
                  <div class="middle-line"></div>
                  <div class="time-label bottom">
                    <span class="sunset">{{ item.sunset }}</span><span
                      class="pm">{{dataService.convertToAmPm(item.sunset)}}</span>
                  </div>
                </div>
                <div class="date-section">
                  <div class="tick"></div>
                  <div class="date">
                    {{ item.date.split(",")[1] }} &nbsp;{{
                    item.date.split(",")[2]
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sunRise end -->
        <div class="Moonrise_swiper">
          <div class="tittle">
            <img src="./img/moon_icon.svg" alt="" />
            <h5 class="mainTitleSection">Moonrise/Moonset</h5>
          </div>
          <div class="swiper swiper_moonrise">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of forecastData">
                <div class="sunRise_container">
                  <div class="time-label top">
                    <span class="sunset">{{item.moonrise}}</span><span
                      class="pm">{{dataService.convertToAmPm(item.moonrise)}}</span>
                  </div>
                  <!-- <img class="curve" src="./img/Moonrise.svg" alt="" /> -->
                  <svg class="curve" width="121" height="28" viewBox="0 0 121 28" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 1.5C6.4321 1.99383 16.3931 2.98172 32.1111 13.7222C49.9973 25.9444 63.5852 33.3521 89.8889 13.7223C100.311 5.94449 113.222 1.5 121 1.5"
                      stroke="#B4BBE9" stroke-width="2.96296" />
                  </svg>
                  <div class="middle-line"></div>
                  <div class="time-label bottom">
                    <span class="sunrise">{{item.moonset}}</span><span
                      class="am">{{dataService.convertToAmPm(item.moonset)}}</span>
                  </div>
                </div>
                <div class="date-section">
                  <div class="tick"></div>
                  <div class="date">
                    {{ item.date.split(",")[1] }} &nbsp;{{
                    item.date.split(",")[2]
                    }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="abc" [hidden]="selectedTab == '7 days' || selectedTab == '15 days'">
        <div class="hourly_tab">
          <div class="Temperature_swipee">
            <div class="swiper swiper_temp_hourly">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of hourlyData;let index= index">
                  <div class="weather-card" [ngStyle]="{ background: item.gradient }" [id]="'hourly' + index">
                    <div class="temperature-high">{{item.temp_max}}°</div>
                    <div class="feels-like">
                      {{'Feels like' | translate}} {{item.feelslike_temp}}°
                    </div>
                    <!-- <div class="dot" *ngIf="hourlyActiveIndex==index">
                              </div> -->
                    <div class="weather-icon">
                      <img [src]="item.iconImage" alt="Cloudy Icon" />
                    </div>
                    <div class="weather-label">{{item.description}}</div>
                  </div>
                  <div class="Temperature-date">
                    {{item.ist}}
                  </div>
                </div>
              </div>
              <div class="swiper-button-next custom_nav"></div>
              <div class="swiper-button-prev custom_nav"></div>
              <div class="sun_mon">
                <div
                  [ngClass]="hourlyData && hourlyData[hourlyActiveIndex].selectedClass =='today'  ? 'sun_green' :'mon_yellow'">
                  {{hourlyDate}}</div>
                <!-- <div class="mon_yellow">24 May, Monday</div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="graph"></div> -->
        <div class="Temperature_swipee">
          <!-- <div class="skysense-title">Skysense by skymet</div> -->
          <div class="Weather_buddy hourly_weather_buddy">
            <div class="view_date">
              {{'Viewing data for' | translate}} {{ forecastData && forecastData[0] &&
              forecastData[0].date.split(",")[2] }} &nbsp;
              {{
              forecastData && forecastData[0] && forecastData[0].date.split(",")[1]
              }}
            </div>
            <div class="container">
              <div class="weather_box">
                <div class="header">
                  <div class="tittle">
                    <img src="./img/clean.svg" alt="" />
                    <p>Weather buddy</p>
                  </div>
                  <div class="controls">
                    <button (click)="speak(buddyDataHourly && buddyDataHourly)">
                      <img src="./img/play.webp" alt="">
                    </button>
                    <button (click)="pause()">
                      <img src="./img/pause.webp" alt="">
                    </button>
                    <!-- <button (click)="utilityService.resume()" [disabled]="!utilityService.isPaused"><i class="fas fa-play-circle"></i></button>
                    <button (click)="utilityService.stop()" [disabled]="!utilityService.isSpeaking"><i class="fas fa-stop"></i></button> -->

                  </div>
                </div>
                <p [class.collapsed]="expanded">
                  {{buddyDataHourly && buddyDataHourly }}
                </p>
                <span class="toggle-button" (click)="toggleExpand()">
                  {{ expanded ? 'Show Less' : 'Show More' }}
                </span>
              </div>
            </div>
          </div>
          <div class="Weather_info">
            <div class="boxs">
              <h6><img src="./img/temp.svg" alt="" /> {{'Temp (Min/Max)' | translate}}</h6>
              <div class="sky">
                <img [src]="currentData?.[0]?.iconImage" alt="" />
                <span>
                  {{currentData?.[0]?.description == 'THUNDERSTORM'? 'THUNDER STORM':currentData?.[0]?.description}}
                </span>
              </div>
              <div class="max_min">
                <div class="max">
                  <span>Max</span>
                  <span>{{currentData?.[0]?.maxt}}°C</span>
                </div>
                <div class="min">
                  <span>Min</span>
                  <span>{{currentData?.[0]?.mint}}°C</span>
                </div>
              </div>
            </div>
            <div class="boxs">
              <h6><img src="./img/huminity.svg" alt="" /> {{'Humidity' | translate}}</h6>
              <div class="Humidity">
                <app-speedometer [humidity]="currentData?.[0]?.hr"></app-speedometer>
                <h5>{{currentData?.[0]?.hr}}%</h5>
              </div>
            </div>

            <div class="boxs">
              <h6><img src="./img/dropIcon.svg" alt="" /> {{'Dew Point' | translate}}</h6>
              <div class="Rainfall_probabilty wind">
                <div class="probabilty">
                  <h5>{{currentData?.[0]?.dew_point}}°C</h5>
                  <span>Highly Humid</span>
                </div>
                <img src="./img/man.svg" alt="" />
              </div>
            </div>

            <div class="boxs">
              <h6 class=" Wind"><img src="./img/windFast.svg" alt="" /> {{'Wind speed' | translate}}</h6>
              <div class="Rainfall_probabilty wind">
                <div class="probabilty">
                  <h5>{{currentData?.[0]?.wind}}m/s</h5>
                  <span>Wind Speed</span>
                </div>
                <img src="./img/wind_direction/DIRECTIONS_E.webp" alt="" />
              </div>
            </div>
          </div>

          <!-- <div class="Weather_info" >
               <div class="boxs">
                 <h6 class=" UV_Index"><img src="./img/wind.svg" alt="" /> UV Index</h6>
                 <div class="Rainfall_probabilty wind">
                   <div class="probabilty">
                     <h5 class="bighTitle">9</h5>
                     <span>Highly Risk</span>
                   </div>
                   <img src="./img/redSun.svg" alt="" />
                 </div>
                 <app-uv-rays class="app-uv-rays" [uvIndex]="8" [maxUV]="11" [range]="uvRange"></app-uv-rays>
               </div>
               
               <div class="boxs">
                 <h6 class=" Air"><img src="./img/uv.svg" alt="" /> AQI</h6>
                 <div class="Rainfall_probabilty wind">
                   <div class="probabilty">
                     <h5 class="bighTitle">267</h5>
                     <span>Unhealthy</span>
                   </div>
                   <img src="./img/blueMaskMan.svg" alt="" />
                 </div>
                 <app-uv-rays class="app-uv-rays" [uvIndex]="160" [maxUV]="500" [range]="aqiRange"></app-uv-rays>
               
               </div>
               
               <div class="boxs">
                 <h6 class="Sunrise"><img src="./img/sunset_icon.svg" alt="" />Sunrise</h6>
                 <div class="sunset">
                   <app-sunrise [angle]="calculateAngle()"></app-sunrise>
                   <div class="sunset_time" style="display: flex">
                     <div>
                       <div class="box-subheader">Sunrise</div>
                       <span>{{sunrise}} am</span>
                     </div>
                     <div>
                       <p>Now</p>
                       <span>{{ getCurrentTime() }} pm</span>
                     </div>
                     <div>
                       <div class="box-subheader">Sunset</div>
                       <span>{{sunset}} pm</span>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="boxs">
                 <h6><img src="./img/Moonrise.svg" alt="" /> Moonrise</h6>
                 <div class="sunset">
                   <app-moonrise [angle]="calculateAngle()"></app-moonrise>
                   <div class="sunset_time" style="display: flex">
                     <div>
                       <div class="box-subheader">Moonrise</div>
                       <span>{{moonriseTime}}</span>
                     </div>
                     <div>
                       <p>Now</p>
                       <span>{{ getCurrentTime() }} pm</span>
                     </div>
                     <div>
                       <div class="box-subheader">Moonset</div>
                       <span>{{moonsetTime}}</span>
                     </div>
                   </div>
                 </div>
               </div>
          </div> -->
        </div>
      </div>
      <app-weather-news [weatherNewsHeaderConfig]="weatherNewsHeaderConfig"></app-weather-news>
   
 
    </div>
    <!-- <div class="ads">
      <div class="Advertisement">
        <h5>Advertisement</h5>
      </div>
    </div> -->

       <!-- <div class="bottom-filter">
      
      </div> -->

  </div>
</div>