
    <main class="container">
      <article class="termAndCondition">
        <section class="innerContent">
          <div class="mainHeader">
            <h4 class="fs-4 fw-bold pb-3">TERMS AND CONDITIONS</h4>
            <p class="title">
              PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THE
              SKYMETWEATHER.COM (“SITE”). BY VISTING, SCROLLING THIS SITE YOU
              AGREE TO BE BOUND BY THE FOLLOWING TERMS OF SERVICE (“TERMS”)
              INCLUDING ALL ADDITIONAL TERMS AND CONDITIONS AND POLICIES REFERRRED
              HEREIN. THESE TERMS APPLY TO ALL USERS OF THE SITE.
            </p>
          </div>
          <div class="tAndcContent">
            <p class="title">
              1. Disclaimer of Warranty; Limitation of Liability.
            </p>
            <ul class="tandcBodyConbtent">
              <li>
                <p class="subtitle">
                  You expressly agree that use of the site is at your sole risk.
                  Neither skymet, its affiliates nor any of their respective
                  directors, officers, employees, agents, third party content
                  providers or licensors warrant that the site will be
                  uninterrupted or error free; nor do they make any warranty as to
                  the results that may be obtained from use of the site, or from
                  the information contained therein, or as to the accuracy,
                  completeness or reliability of any information. In no event will
                  covered parties or any other person or entity involved in
                  creating, producing the site, be liable for any damages, claims,
                  or injury, including without limitation, direct, indirect,
                  incidental, special, consequential or punitive damages, or
                  personal or bodily injury arising out of the use of, or
                  inability to use the Site.
                </p>
              </li>
              <li>
                <p class="subtitle">
                  This disclaimer of liability applies to any damages or injury
                  caused by any failure of performance, error, omission,
                  inaccuracy, interruption, deletion, defect, delay in operation
                  or transmission, computer virus, communication line failure,
                  theft or destruction or unauthorized access to, alteration of,
                  or use of the site, whether for breach of contract, tortious
                  behavior (including, without limitation, strict liability),
                  negligence, or under any other cause of action, to the fullest
                  extent permissible by law. This does not affect any statutory
                  rights which may not be disclaimed. You specifically acknowledge
                  that Skymet is not liable for the defamatory, offensive or
                  illegal conduct of other users or third-parties over which it
                  has no control.
                </p>
              </li>
              <li>
                <p class="subtitle">
                  To the fullest extent permissible by law, in no event shall
                  Skymet’s total liability to you for all damages, losses and
                  causes of action whether in contract, tort (including, without
                  limitation, its own negligence) or under any other legal theory.
                  This does not affect any statutory rights that may not be
                  disclaimed.
                </p>
              </li>
            </ul>
            <div class="contentPolicy">
              <p class="title pb-2">2. <u>INDEMNIFICATION</u></p>
              <p class="subTitle">
                You agree to indemnify and to hold Skymet, its subsidiaries,
                affiliates, business partners, officers, employers and other
                agents, harmless from and against any loss, liability, damage or
                expense (including reasonable attorneys fees) arising out of your
                use of the Site, including, without limitation, any violations by
                you in the terms and conditions for your use of the Site.
              </p>
            </div>
            <div class="contentPolicy">
              <p class="title pb-2">3. <u>BUSINESS ASSOCIATES</u></p>
              <p class="subTitle">
                The business associates of Skymet identified on the Site are
                independent contractors of Skymet. The business associates are not
                joint ventures or partners of Skymet. No employee or
                representative of the business associates is under the control of
                Skymet.
              </p>
            </div>
            <div class="contentPolicy">
              <p class="title pb-2">4. <u>CHANGED TERMS</u></p>
              <p class="subTitle">
                Skymet has the right at any time to change or modify the terms and
                conditions applicable to use of the Site, or any part thereof, or
                to impose new conditions, including, without limitation, adding
                fees and charges for use. Such changes, modifications, additions
                or deletions shall be effective (i) immediately upon notice
                thereof, which may be given by any means including, without
                limitation, posting on the Site, or by electronic or conventional
                mail, or by any other means or (ii) where required by law, 30 days
                after their publication through the Site. Any use of the Site by
                you, including without limitation, your continued access of
                content to the Site, after such notice shall be deemed to
                constitute acceptance of such changes, modifications, additions or
                deletions. If any modification to these Terms of Use is
                unacceptable to you, you may immediately terminate your use of the
                Site.
              </p>
            </div>
            <div class="contentPolicy">
              <p class="title pb-2">5. <u>MONITORING</u></p>
              <p class="subTitle">
                Skymet shall have the right in its sole discretion to refuse to
                post or remove any material submitted to or posted on the site.
                Without limiting the foregoing, Skymet shall have the right, but
                not the obligation, to remove any material we in our sole
                discretion, find to be in violation of the provisions hereof or
                otherwise objectionable. However, any opinions, advice,
                statements, offers, or other information or content expressed or
                made available by third parties, including information providers
                and users, are those of the respective author(s) or distributor(s)
                and not that of Skymet.
              </p>
            </div>
            <div class="contentPolicy">
              <p class="title pb-2">6. <u>ACCURACY OF INFORMATION</u></p>
              <p class="subTitle">
                The contents of the site are provided on “as-in” basis without
                warranties of any kind of relating to accuracy, reliability,
                availability, suitability, non-infringement of the contents of the
                site. You acknowledge that reports, forecasts and other
                information regarding weather and climatic conditions may deviate
                from the claimed statements. While Skymet has made every
                reasonable effort to ensure that the information contained in this
                site has been obtained from the reliable sources, therefore,
                Skymet shall not be responsible for any omission or for the
                results obtained from the use of such information.
              </p>
            </div>
            <div class="contentPolicy">
              <p class="title pb-2">7. <u>GOVERNING LAW/JURISDICTION</u></p>
              <p class="subTitle">
                These terms and conditions and your access to and use of
                information from the Site are governed by the laws of India. In
                the event of any dispute regarding the interpretation or
                compliance with these terms and conditions, you consent to the
                exclusive jurisdiction of the courts located in New Delhi.
              </p>
            </div>
          </div>
        </section>
      </article>
    </main>

  