
<div class="Weather_patten">
      <div class="container">
        <div class="main_content">
          <div class="maping">
            <div class="haeding">
              <h5>Real-time weather patterns</h5>
              <h6>View detailed patterns</h6>
            </div>
            <div class="wetherMapArea">
              <div class="btn_map">
                <ul>
                  <li [class.active]="selectedTab === 'himawari'" (click)="changeSatelliteImages('himawari');selectedTab='himawari'">HIMAWARI</li>
                  <li [class.active]="selectedTab === 'insat'" (click)="changeSatelliteImages('insat');selectedTab='insat'">INSAT</li>
                  <li [class.active]="selectedTab === 'Rainfall'" (click)="changeSatelliteImages('Rainfall');selectedTab='Rainfall'">RAINFALL</li>
                </ul>
              </div>
      
               <div class="swiper satelliteSwiper">
                  <div class="swiper-wrapper" >
                    <div class="swiper-slide" *ngFor="let item of rainfallImages">
                      <img class="satelliteImage" [src]="item" alt="satelliteImages">
                    </div>
               
                  </div>
               </div>
               
              <div class="moble_btn">
                <div class="btn">
                  <button>View detailed patterns</button>
                </div>
              </div>
            </div>
          </div>
         
          <div class="blogs">
            <div class="haeding">
              <div class="news-title">Explore trending climate news</div>
            </div>
                 <app-trending-news></app-trending-news>
          </div>
        </div>
      </div>
</div>

  <div class="adds">
      <div class="container">
        <div class="Advertisement">
          <h5>Advertisement</h5>
        </div>
      </div>
</div>