<div class="uv-bar-container">
  <div class="uv-bar" #uvBar>
    <div class="uv-segment uv-1"></div>
    <div class="uv-segment uv-2"></div>
    <div class="uv-segment uv-3"></div>
    <div class="uv-segment uv-4"></div>
    <div class="uv-segment uv-5"></div>
    <div class="uv-segment uv-6"></div>
  </div>

  <div class="tick" #tick></div>

  <!-- Tick marks and labels -->
    <div class="tick-line" style="left: 0%;"></div>
    <div class="label" style="left: 0%;">{{range && range[0]}}</div>

    <div class="tick-line" style="left: 23%;"></div>
    <div class="label" style="left: 23%;">{{range && range[1]}}</div>

    <div class="tick-line" style="left: 42%;"></div>
    <div class="label" style="left: 42%;">{{range && range[2]}}</div>

    <div class="tick-line" style="left: 60%;"></div>
    <div class="label" style="left: 60%;">{{range && range[3]}}</div>

    <div class="tick-line" style="left: 82%;"></div>
    <div class="label" style="left: 82%;">{{range && range[4]}}</div>
    
    <div class="tick-line" style="left: 99%;"></div>
    <div class="label" style="left: 99%;">{{range && range[5]}}</div>
</div>


