<app-native-header *ngIf="nativeService.getPlateform() === 'native' && nativeService.isHeader"></app-native-header>
<app-header *ngIf="nativeService.getPlateform() === 'web' && nativeService.isHeader"></app-header>
<router-outlet />
<app-footer *ngIf="nativeService.getPlateform() === 'web' && nativeService.isFooter"></app-footer>
<app-native-footer *ngIf="nativeService.getPlateform() === 'native' && nativeService.isFooter"></app-native-footer>

<div id="snackbar" class="snackbar show" *ngIf="!locationService.isLocationEnable">
   Your location is not enabled. Please allow it in browser settings.
  <span class="close-btn" (click)="hideSnackBar()">✖</span>
</div>
