<div class="container">
  <div class="main_content">
    <!-- Breadcrumb -->
    <div class="breadcumb">
      <div class="breadcumb-list"><div class="item1" routerLink="/">Home</div></div>
      <div class="breadcumb-list">.</div>
      <div class="breadcumb-list"><div class="item3" routerLink="/resources">Resources</div></div>
      <div class="breadcumb-list">.</div>
      <div class="breadcumb-list capitalize-each"><div class="item5">{{ newsSlug() }}</div></div>
    </div>

    <!-- Title -->
     <div class="article-header">
     <div class="article-title">{{newsSlug()}}</div>
         <!-- <select name="" id="" *ngIf="this.weatherType =='archive'">
      <option value="">2024</option>
      <option value="">2023</option>
      <option value="">2022</option>
    </select> -->
     </div>
  

    <!-- Language Tabs -->
    <div class="tab" *ngIf="this.weatherType!='archive'">
      <div
        class="tab-list"
        (click)="articleLanguage = 'hi'; onlngChange()"
        [ngClass]="{ 'active': articleLanguage === 'hi' }"
      >
        Hindi
      </div>
      <div
        class="tab-list"
        (click)="articleLanguage = 'en'; onlngChange()"
        [ngClass]="{ 'active': articleLanguage === 'en' }"
      >
        English
      </div>
    </div>

 

    <!-- Articles Grid -->
    <div class="articles-grid">
      <a
        *ngFor="let item of articles | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: articleTotal }"
        [routerLink]="['/content', getCategory(item.categorySlug), item.titleSlug]"
      >
        <div class="item">
          <img [src]="item.thumbnail" alt="" />
          <div class="title">{{ item.title }}</div>
          <div class="article-footer">
            <div class="date">
              <div class="date-text">{{ dataService.formatDateArticleList(this.weatherType!='archive' ? item.DateTime : item.publishedAt) }}</div>
            </div>
            <div class="whtsapp-icon" (click)="shareOnWhatsApp(item)">
              <img src="./img/whatapp.png" alt="" />
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <pagination-controls
        (pageChange)="onPageChange($event)"
        [maxSize]="4"
        [autoHide]="true"
        [responsive]="true"
      ></pagination-controls>
    </div>
  </div>
</div>
