<div class="container-box">
<div class="notification-screen">
    <div class="content">
    <div class="text-wrapper">
        <div class="text">
      Stay Updated on what matters most.
    </div>
    <div class="sub-text">
        Get real-time weather and news notifications for your area so you are always one step ahead.
    </div>
    </div>
    <div class="next">
        <button class="btn btn-primary" (click)="openNotificationPopUp()">Allow Notification</button>
    </div>
    </div>
</div>
</div>
