<div class="container-box">
  <div class="title">
            Hyper-local weather forecast tuned for Bharat.
  </div>
  <div class="subtitle">
     Enable the current location to get the most accurate weather data,forecast news and alerts.
  </div>
 
  <div class="loc">
      <i class="fas fa-map-marker-alt location-icon loc-icon"></i>
      <div class="current-loc" (click)="nativeService.getPositionNative()">
          Use my current location
      </div>
  </div>
   <div class="or">OR</div>
  <div class="search-container">
      <i class="fas fa-search search-icon"></i>
      <form [formGroup]="searchForm">
          <input type="text" id="search-input" placeholder="Search..." 
                 (input)="onSearch($event)" formControlName="searchCtrl"/>
      </form>
      <i  class="fas fa-times clear-icon"
      *ngIf="searchForm.get('searchCtrl')?.value"
       id="clear-btn" (click)="clearInput()"></i>

  
  </div>
    <div class="listing" *ngIf="locations && locations.length" #locationList>
          <div class="list">
              <p *ngFor="let item of locations" (click)="getSearchLocation(item)">
                {{ item["name_en"].split(",")[0] =='' ? 
                   item["name_en"].split(",").slice(1,4).join(",") : item["name_en"] }}
              </p>
          </div>
      </div>

</div>
