<div class="welcome" [ngStyle]="nativeService.setBackgroundNative()">
    <div class="content">
        <!-- <div class="title">{{welcomeText}},{{nativeService.getUserInfo()?.name ? nativeService.getUserInfo()?.name :"User"}}</div> -->
        <div class="title">{{nativeService.getGreetingMessage()}},</div>
        <div class="title">Current Forecast,</div>
        <div class="weather">
            <div class="icon">
                <img [src]="weatherData && weatherData?.iconImage" alt="">
            </div>
            <div class="temp-wrapper">
                <div class="temp">{{weatherData && weatherData?.tmp}} °C</div>
                <div class="date">{{weatherData && weatherData?.displaytime}}</div>
            </div>
        </div>
        <div class="advisory"> 
            {{nativeService.getWeatherMessage(weatherData && weatherData?.tmp,weatherData && weatherData?.precip,weatherData && weatherData?.description)}}
        </div>

        <div class="button" routerLink="/">
            <button class="explore">Check the weather</button>
        </div>
    </div>
</div>
