<div class="container-box">
    <div class="notification-screen">
        <div class="content">
            <div class="station">
                <img src="https://www.skymetweather.com/img/app_background/background/station.webp" alt="">
            </div>
            <div class="title">
                Updating the location

            </div>

            <div class="subtitle">
                Do you know Skymet has 10000+ weather stations all over India.
            </div>
            <div class="loading-dots">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
    </div>
</div>