<div class="forCastMap">
  <div class="container">
    <div class="tabs">
      <button class="tab" [ngClass]="{'active': selectedTab === 'himawari'}" (click)="getsatelliteImage('himawari')">Himawari</button>
      <button class="tab" [ngClass]="{'active': selectedTab === 'insat'}" (click)="getsatelliteImage('insat')">Insat</button>
      <!-- <button class="tab" [ngClass]="{'active': selectedTab === 'rainfall'}" (click)="getsatelliteImage('rainfall')">Rainfall</button> -->
    </div>

    <div class="textContent">
      <h4 class="textMain">
        Showing result from <span>{{satelliteImages && satelliteImages[activeIndex]?.date}}</span> -
        <span>{{satelliteImages && satelliteImages[activeIndex]?.time}}</span>
      </h4>
    </div>

    <div class="mainMap">
      <div class="topbuttons">
        <div class="cards">
          <div class="buttons">
            <button class="button" (click)="viewType='swiper'" [ngClass]="{'active': viewType === 'swiper'}">
              <img src="/img/map.svg" alt="" />
            </button>
            <button class="button"  (click)="viewType='grid'" [ngClass]="{'active': viewType === 'grid'}">
              <img src="/img/menu4.svg" alt="" />
            </button>
          </div>
        </div>

        <!-- <div class="contentCenter" *ngIf="viewType === 'swiper'">
          <p>{{satelliteImages[activeIndex]?.date}}</p>
        </div> -->

        <div class="cards thirdButtonGroup">
          <div class="buttons singleButton">
            <button class="button" (click)="openFullscreen()">
              <img src="/img/expend.svg" alt="" />
            </button>
          </div>
          <div class="buttons singleButton">
            <button class="button" (click)="viewType=='swiper'? whatsappImageShare() : shareFiles()">
              <img src="/img/whatsapp.svg" alt="" />
            </button>
          </div>
          <div class="buttons multiButton" *ngIf="viewType === 'swiper'">
            <button class="button" (click)="zoomOut()">
              <img src="/img/minus.svg" alt="" />
            </button>
            <button class="button" (click)="zoomIn()">
              <img src="/img/plus.svg" alt="" />
            </button>
          </div>
        </div>
      </div>

    

     <div>
       <div
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper mySwiper2"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slider-item" *ngFor="let item of satelliteImages;let i = index">
            <img [src]="item.image" id="img{{i}}" [ngStyle]="{
              'object-fit': (selectedTab === 'insat' || selectedTab === 'himawari') ?  'cover' : 'contain',
              
            }"/>
          </div>
        </div>
        <div class="swiper-button-next">
          <img src="/img/rightArrow.svg" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="/img/leftArrow.svg" alt="" />
        </div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slider-thumb" *ngFor="let item of satelliteImages">
            <h5>{{item.time}}</h5>
            <img [src]="item.image" />
          </div>
      
        </div>
      </div>
     </div>
     <!-- <div *ngIf="viewType=='grid'">
      <div class="gridContainer" id="gridContainer">
        <div *ngFor="let item of satelliteImages"  
        (click)="toggleImageSelection(item.image)">
          <h6>{{item.time}}</h6>
          <img [src]="item.image" [class.selected]="isSelected(item.image)"/>
          
        </div>  
      </div>
     </div> -->
    </div>
  </div>
</div>
