h4 {
  font-weight: 700;
  padding-bottom: 20px;
}
@media (max-width: 426px) {
  h4 {
    font-size: 21px;
    font-size: 900;
  }
}

.resourcesSwiper_banner {
  .swiper-pagination {
    gap: 10px;
    display: flex;
    position: absolute;

    // transform: translateX(-50%);
    // width: fit-content;
    // justify-content: center;

    // width: 10%;
    text-align: center;
    z-index: 10;
    // border: 2px solid red;
    right: 200px;
    top: 80%;
    z-index: 9999999;

    .dots {
      // border: 2px solid red;
      padding: 5px;
      // width: 15px;
      // height: 15px;
      background: rgb(213, 213, 213);
      border-radius: 50%;
      background: #3174BF;
       cursor: pointer;
    }
    .active {
      // width: 25px;
      padding: 5px 15px;
      border-radius: 50px;
      background: #000093;
      // transform:all 9.s;
      // transition: 9.s;
    }
    @media (max-width: 769px) {
      top: 88%;
      .dots {
        // border: 2px solid red;

        // width: 20px;
        // height: 20px;
        background: rgb(213, 213, 213);
        border-radius: 50%;
        background: #3174BF;
      }
      .active {
        width: 25px;
        border-radius: 50px;
        background: #3174BF;
        // transform:all 9.s;
        // transition: 9.s;
      }
    }
    @media (max-width: 769px) {
      top: 95%;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      justify-content: center;
    }
  }

  .swiper-pagination-bullet {
    background: #ffffff;
    opacity: 0.6;
    width: 300px;
    height: 300px;
  }

  .swiper-pagination-bullet-active {
    background: #009bf2;
    opacity: 1;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "prev";
    font-size: 25px;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "next";
    font-size: 25px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    border-radius: 50%;
    // padding: 25px;
    background: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      font-size: 20px;
    }
  }

  .swiper-button-next {
    right: 50px;

    top: 80%;
  }

  .swiper-button-prev {
    right: 130px;
    top: 80%;
    left: auto;
  }

  .swiper-item-banner {
    position: relative;
    .swapper-contentArea {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 999999;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
       
        .mainContent {
          max-width: 800px;
        }
      }
    }
    @media (max-width: 1025px) {
      .swapper-contentArea {
        top: 30px;
      }
    }
  }

  .satelliteImage {
    width: 100%;
    height: 85vh;
    filter: brightness(0.5);
    object-fit: cover;
  }

  h1 {
    font-size: 65px !important;
    font-weight: 800 !important;
    color: #fff;
    padding: 10px 0;
    line-height: 1;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-height: 3em;
  }

  h6 {
    color: white;
    margin: 0;
    font-weight: 600;
  }
  .container {
    .youtube {
      width: fit-content;

      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      padding: 5px 8px 5px 5px;
      // display: inline;

      background: #ea0000db;
      img {
        width: 32px;
      }
    }
    .banner_para {
      color: #ffffffb2;
      letter-spacing: 1.5px;
      padding-bottom: 30px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.3em;
      max-height: 46px;


      @media (max-width: 769px) {
        max-height: 44px;
      }
    }
    .watch {
      background: #3174BF;
      border-radius: 50px;
      width: fit-content;
      padding: 15px 40px;
      text-align: center;
      margin-top: 62px;
      cursor: pointer;
    }
  }
  @media (max-width: 1025px) {
    h1 {
      font-size: 50px !important;
    }

    .container {
      width: 100%;
      top: 110px;
      left: 85px;
      .mainContent {
        max-width: 660px !important;
      }
    }
    .satelliteImage {
      // width: fit-content;
      width: 100%;
      height: 85vh;
      object-fit: cover;
    }
  }
  @media (max-width: 769px) {
    .swiper-horizontal {
      padding-bottom: 75px;
    }
    h1 {
      font-size: 45px !important;
    }
    .container {
      width: 100%;
      top: 110px;
      left: 75px;
      .mainContent {
        max-width: 560px !important;
      }
      .youtube {
        display: none;
      }
      .watch {
        padding: 10px 35px;
      }
    }
    .satelliteImage {
      height: 85vh;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  @media (max-width: 426px) {
    h1 {
      font-size: 28px !important;
      font-weight: 700 !important;
    }
    .banner_para {
      font-size: 16px;
      font-weight: 500;
    }
    .container {
      width: 100%;
      left: 0;
      top: 300px;
    }
    .satelliteImage {
      width: 100%;
      height: 68vh;
      object-fit: cover;
    }
  }
}

.top_channel {
  // h4 {
  //   font-weight: 700;
  //   padding-bottom: 20px;
  // }
  padding: 70px 0;

  .swiper-backface-hidden .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .channel_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    img {
      width: 100%;
      border-radius: 50%;
    }
    h6 {
      padding: 10px 0;
    }
  }
  @media (max-width: 1025px) {
    padding: 50px 0;
  }
  @media (max-width: 769px) {
    padding: 30px 0;

    .channel_card {
      width: 130px;

      img {
        width: 100%;
      }
    }
    h4 {
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
  @media (max-width: 426px) {
    .channel_card {
      // width: 130px;
      img {
        width: 90%;
      }
    }
  }
  @media (max-width: 976px) {
    .channel_card {
      // width: 130px;
      img {
        width: 70%;
      }
    }
  }
}

.Articles {
  .tittle {
    display: flex;
    justify-content: space-between;

    .days {
      display: flex;
      align-items: center;
      gap: 2px;

      p {
        color: #0044aa;
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 25px;
        cursor: pointer;

        &.active {
          background: #d4eeff;
        }
      }

      :hover {
        background: #d4eeff;
      }
    }
  }
  .main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
     .custom{
          display: flex;
           flex-wrap: wrap;
            gap: 25px;
            .card_custom {
              width: 379.3333435058594px;
             // height: 427px;
              gap: 10px;
              opacity: 1;


            }
        }
    .Articles_card {
      position: relative;
      // width: 33% !important;
      padding: 0 5px;
      .dates {
        font-size: 12px;
        margin-top: 16px;
      }
      .heading {
        padding: 8px 0px 0 0;
      }
      p {
        font-weight: 500;
        margin-top: 4px;
        color: rgba($color: #000000, $alpha: 0.8);
      }
      .Read_More_btn {
        color: #3174BF;
        // padding-bottom: 10px;
        margin: 0;
      }
      .catch {
        position: absolute;
        border-radius: 24px;
        top: 3%;
        backdrop-filter: blur(10px);
        background: #15151580;

        left: 3%;
        color: white;
        padding: 5px 10px;
      }
      img {
        border-radius: 12px;
      }
      .WhatsApp {
        width: 8%;
        // height: 23px;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
      }
    }
  }
  .btn_center {
    margin-top: 20px;
    .btn {
      padding: 10px 100px;

      border-radius: 10px;
    }
  }
  @media (max-width: 769px) {
    .main_content {
      .Articles_card {
        width: 48%;
        margin-top: 5px;
        img {
          border-radius: 12px;
        }
      }
    }
  }
  @media (max-width: 426px) {
    .tittle {
      flex-direction: column;
      h4 {
        padding-bottom: 5px;
      }
    }
    .main_content {
      .Articles_card {
        // width: 100% !important;
        .heading {
          font-size: 22px !important;
          padding: 10px 0px 10px 0;
        }
        .Read_More_btn {
          font-size: 18px !important;
        }
        img {
          border-radius: 12px;
        }
      }
    }
    .btn_center {
      .btn {
        width: 100%;
      }
    }
  }
}

.videos_section {
  padding-top: 70px;
  .main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    .swiper-wrapper {
      gap: 15px;
    }
    .video_card {
     // width: 390px !important;
     width: 100%;
      height: 252px;
      border-radius: 24px;
      // margin: 0 10px;
      // padding: 0 5px;

      // background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      img {
        // background: rgba(0, 0, 0, 0.434);
      }
      .video_tittle {
        position: absolute;
        padding: 10px;
        bottom: -8px;
        // left: 0%;
        color: #fff;
        // width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      }
    }
  }
  .btn_center {
    margin-top: 20px;
    .btn {
      padding: 10px 100px;

      border-radius: 10px;
    }
  }
  @media (max-width: 769px) {
    padding-top: 30px;

    .main_content {
      gap: 14px;
      .video_card {
        // width: 48.7% !important;
        //width: 360px !important;
        height: 232.00521850585938px;
        border-radius: 9.22px;
        border-width: 1.15px;
      }
    }
  }
  @media (max-width: 426px) {
    padding-top: 30px;

    .main_content {
      gap: 14px;
      .video_card {
       // width: 100% !important;
        // width: 295px;
        height: 232.00521850585938px;
        border-radius: 9.22px;
        border-width: 1.15px;

        .video_tittle {
          padding-top: 50px;
          font-size: 20px;
        }
      }
    }
    .btn_center {
      .btn {
        width: 100%;
      }
    }
  }
}

iframe {
  height: 100%;
  width: 100%;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em; /* Needed for consistent line spacing */
  max-height: 3em;
}

.active {
  border: 2px solid blue;
}
.capitalize-each {
  text-transform: capitalize;
}
// @media (max-width: 768px) {
//   .main_content {
//     .custom{
//       display: none !important;
//     }
    
//   }
// }


