.Weather_info .boxs .Rainfall_probabilty {
  .app-rainFall-item {
    width: 45%;
  }
}

.location-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}


@media (max-width: 768px) {
 .location{
  display: flex;
  justify-content: space-between;
 }
}
