.Weather_info .boxs .Rainfall_probabilty {
  .app-rainFall-item {
    width: 45%;
  }
}

.location-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.container {
  p {
    text-align: center;
    font-size: 16px;
    margin: 5px;
  }
}




@media (max-width: 768px) {
 .location{
  display: flex;
  justify-content: space-between;
 }

 .container {
  p {
      text-align: left;
      margin-left: 33px;
  }
}
}
