.Weather_info .boxs .Rainfall_probabilty {
  .app-rainFall-item {
    width: 45%;
  }
}

.location-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.container {
  // p {
  //   text-align: center;
  //   font-size: 16px;
  //   margin: 5px;
  // }
  .savedLoc{
    .item{
      width: 83px;
      height: 33px;
      border-radius: 110px;
      background: #e9e3e3;
      padding-right: 12px;
      padding-left: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -10px;
      margin-bottom: 11px;
      font-weight: 600;
    }
  }
  .current_temp{
     font-size: 16px;
      margin: 5px;
      margin-left: 0px;
  }
    .dist_state{
       text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }
}




@media (max-width: 768px) {
 .location{
  display: flex;
  justify-content: space-between;
 }

 .container {
  p {
      text-align: left;
     // margin-left: 33px;
  }
  .dist_state{
    margin-left: 33px !important;
            text-align: left;

  }
}
}
.weather{
  cursor:pointer
}