<div class="hero_section" id="heroSection" [ngStyle]="backgroundStyle">
  <div class="container">
  
    <div class="location">
      <h1 hidden></h1>
      <div class="location-wrap" (click)="gotoForecastPage()">
        <img src="https://skymetweather.com/img/location.png" alt=""/>
        <h3>{{ forecastData?.metainfo?.TEHSIL_ALIAS_NAME }}</h3>

      </div>

    <img *ngIf="!isForecastPage" src="https://skymetweather.com/img/refresh.png" alt=""  class="refresh_icon" id="refresh_icon" (click)="triggerParentLocation()" />

    </div>
    <p class="dist_state">{{ forecastData?.metainfo?.DISTRICT_NAME }}</p>
    <div class="weather" (click)="gotoForecastPage()">
      <div class="weat_icon">
        <img [src]="forecastData?.actual?.iconImage" alt="" />
        <h6>{{forecastData?.actual?.description}}</h6>
      </div>
      <div class="weather_tem">
        <h1>{{forecastData?.actual?.tmp}}°C</h1>
        <p class="current_temp">{{'Current temperature' | translate}}</p>
        <span>{{dataService.formatDateTime(forecastData?.actual?.displaytime)}}</span>
      </div>
    </div>

      <div class="rain"  *ngIf="isForecastPage">
        <div class="rain_text">
          Rain probability
        </div>
        <div class="rain_value">
          {{forecastData?.actual?.precip}} %
        </div>
      </div>

    <div class="Weather_info" *ngIf="!isForecastPage">
      <div class="boxs">
        <h6> <img src="https://skymetweather.com/img/temp.svg" alt=""> {{'Temp (Min/Max)' | translate}}</h6>
        <div class="sky">
          <img [src]="forecastData?.actual?.iconImage" alt="" />
          <span>{{forecastData?.actual?.description == 'THUNDERSTORM'? 'THUNDER
            STORM':forecastData?.actual?.description}}</span>
        </div>
        <div class="max_min">
      
          <div class="min">
            <span>Max</span>
            <p>{{forecastData?.actual?.maxt}}°C</p>
          </div>
          <div class="min">
            <span>Min</span>
            <p>{{forecastData?.actual?.mint}}°C</p>
          </div>

        </div>
      </div>
      <div class="boxs">
        <h6> <img src="https://skymetweather.com/img/huminity.svg" alt=""> {{'Humidity' | translate}}</h6>
        <div class="Humidity">
          <app-speedometer [humidity]="forecastData?.actual?.hr"></app-speedometer>
          <h5>{{forecastData?.actual?.hr}}%</h5>
        </div>
      </div>
      <div class="boxs">
        <h6> <img src="https://skymetweather.com/img/rain_fall.svg" alt=""> {{'Rainfall probability' | translate}}</h6>
        <div class="Rainfall_probabilty">
          <app-rainfall class="app-rainFall-item" [rainPercent]="forecastData?.actual?.precip"></app-rainfall>

          <div class="probabilty">
            <h5>{{forecastData?.actual?.precip}}%</h5>
          </div>
        </div>
      </div>
      <div class="boxs">
        <h6><img src="https://skymetweather.com/img/windFast.svg" alt=""> {{'Wind speed' | translate}}</h6>
        <div class="Rainfall_probabilty wind">
          <img src="https://skymetweather.com/img/wind_direction/DIRECTIONS_{{forecastData?.actual?.wind_dir && forecastData?.actual?.wind_dir}}.webp" alt="" />
          <div class="probabilty">
            <h5>{{forecastData?.actual?.wind}}&nbsp; km/h</h5>
            <span>({{forecastData?.actual?.wind_dir}})</span>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="Weather_buddy">
  <div class="container">
    <div class="weather_box">
      <div class="header">
        <div class="tittle">
          <img src="https://skymetweather.com/img/clean.svg" alt="">
          <h6>Weather buddy</h6>
        </div>
        <img src="https://skymetweather.com/img/voice.svg" alt="" (click)="textToSpeech(weatherText)">
      </div>
      <p>Planning for tomorrow in Green park? *Skymet’s weather forecast* expects intensely hot and dry weather tomorrow under predominantly sunny skies. The maximum temperature in.. <span>Read more</span></p>

    </div>
  </div>
</div> -->